#MasterDiv {
  display: flex;
  justify-content: space-between;
  max-width: 38;
  margin-left: 25%;
  margin-top: 2%;
  flex-wrap: wrap;
}

.flexbox-item {
  width: 43vh;
  border: 3px solid rgb(0, 0, 0);
  margin: 5vh;
  background: linear-gradient(
    90deg,
    rgb(255, 248, 220) 0%,
    rgb(176, 196, 222) 100%
  );
  height: 30vh;
  opacity: 60%;
  font-size: 240%;
}

.upvotes {
  font-size: 70%;
  font-weight: bold;
  color: rgb(238, 238, 238);
  border: 5px solid black;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: brown;
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin: 5px;
}

.Box_Title {
  font-family: "Courier New", Courier, monospace;
  color: brown;
  padding: 5%;
}
