#MasterDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

.flexbox-item {
  width: 43vh;
  border: 3px solid rgb(0, 0, 0);
  margin: 5vh;
  background: linear-gradient(
    90deg,
    rgb(255, 248, 220) 0%,
    rgb(176, 196, 222) 100%
  );
  height: 30vh;
  opacity: 60%;
  font-size: 240%;
  background: rgb(176, 196, 222);
  /* background: linear-gradient(
    
    rgb(255, 248, 220) 0%,
    rgb(176, 196, 222) 100%
  ); */
}

.upvotes {
  font-size: 70%;
  font-weight: bold;
  color: rgb(238, 238, 238);
  border: 5px solid black;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 4%;
}

.home_buttons {
  background-color: rgb(42, 85, 165);
  color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin: 5px;
  /* border:black;  */
}
.Box_Title {
  font-family: "Courier New", Courier, monospace;
  color: black;
  padding: 5%;
}

.upvotes {
  font-size: 70%;
  font-weight: bold;
  color: rgb(238, 238, 238);
  border: 5px solid black;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  margin-left: auto;
  margin-right: auto;
}

.message {
  background: white;
  padding: 8%;
  width: fit-content;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 167%;
  font-family: cursive;
  opacity: 79%;
}

.top {
  color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    font-size: large;
}